[Unit]
Description=Skicka status till publicomtools var 5:e minut (HEARTBEAT_INTERVAL ändrar, se init.sh)

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
AccuracySec=30s

[Install]
WantedBy=timers.target
