[Unit]
Description=Skicka status till publicomtools
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/heartbeat.sh
Nice=10
